.lista{
    position: absolute;
    top: 50px;
    right: 0%;
    background-color: aliceblue;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    width: 50vw;
    min-width: 200px;
    padding-top: 1.4rem;
    display: flex;
    flex-direction: column;
    z-index: 1100!important;
}
.lista h5{
    text-align: center;
}
.cart-article{
    list-style: none;
    padding-bottom: .1rem;
    display: flex;
    text-align: center;
    padding-right: 1.4rem;
    padding-left: 0.3rem;
}
.article{
    margin-right: auto;
}
.quantity{
    margin-left: auto;
    display: block;
}
.btnCart{
    background-color: transparent;
    border: transparent;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.buy{
    margin-left: auto;
    margin-right: 1.4rem;
    width: auto;
    margin-bottom: 0.4rem;
}

.widget{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: auto;
}

@media only screen and (min-width: 300px) {
    .widget{
margin-left: auto;
    }
  }