.boxItem {
  min-height: 12rem;
  padding: 0 !important;
}

.cardItem {
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.59);
  transition: 0.3s;
  border-radius: 15px;
  background-color: rgb(255, 255, 248);

}

.containerImg{
    width: 17vw;
    height: 10vw;
    overflow: hidden;
    position: relative;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.containerImg img{
    width: 100%;
    height: auto;
}

.cardItem:hover {
  transition: all 0.2s;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.59);
  transform: scale(1.05);
}

.cardText {
  padding: 2px 1vw;
  width: 17vw;
  border-top: 1px solid rgba(0, 0, 0, 0.065);
  text-align: start;
}

.cardText p{
  width: 100%;
}

.StockyPrecio{
  display: flex;
  justify-content: space-between;
  max-width: 17vw;
  margin: 0;
  padding: 0;
}
