nav{
    display: flex;
    background-color: rgba(116, 202, 193, 0.433);
    height: 50px;
}
.marca{
    max-height: 50px;
    margin-left: 100px;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
}
.marca img{
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.btnLogIn{
    background-color: transparent;
    border: transparent;
    padding: 5%;
}

.tam{
    width: 300px;
}
