nav{
    display: flex;
    background-color: #011c20;
    height: 50px;
    z-index: 1000!important;
}

.marca{
    max-height: 50px;
    margin-left: 100px;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
}

.brandLogo{
    max-height: 50px;
    background-color: transparent;
    border: transparent;
}
.marca a:hover{
    background-color: transparent;
}
.marca a img{
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.btnLogIn{
    background-color: transparent;
    border: transparent;
    padding: 5%;
}

.tam{
    width: 300px;
}


.search{
    width: 500px;
}
.search input{
    width: 100%;
    height: fit-content;
    text-align: start;
}