nav{
    display: flex;
    background-color: #011c20;
    max-height: 50px;
    z-index: 10000!important;
    position: fixed!important;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 0px!important;
}

.brandLogo{
    height: auto;
    max-height: 45px;
    background-color: transparent;
    border: transparent;
}

.btnLogIn{
    background-color: transparent;
    border: transparent;
    padding: 5%;
}

.tam{
    width: 300px;
}
#navbarSupportedContent{
    margin: 0px!important;
    background-color: #011c20;
    padding: 0.1rem!important;
}
#contentNavbarToggled{
    display: flex;    
    justify-content: space-evenly;
    margin-right: auto;
    padding: 0.2rem;
}
#contentNavbarToggled ul{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

#contentNavbarToggled ul li{
    margin-bottom: auto;
    margin-top: auto;
}
.results{
    width: 450px;
    min-height: 100px;
    max-height: 500px;
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 50px;
    border: solid rgba(0, 0, 0, 0.087) 1px;
    display: none;
    flex-direction: column;
    overflow-y: scroll;
}
  
.results ul{
    padding: 0.1rem ;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.option{
    width: 100%;
    height: 45px;
    text-align: start;
    vertical-align: middle;
    list-style: none;
    padding-left: 1rem;
    cursor: pointer;
    font-weight: 600;
}
.option:hover{
    background-color:#011c2030;
}

#buttonsNav{
    margin: 0%;
    margin-left: 10%!important;
    padding: 0%;
    max-height: 50px;

}

@media only screen and (max-width: 600px) {
    .results{
        width: 100%;
    }

    #buttonsNav{
        margin-left: 0%!important;
    }
}

@media only screen and (max-width: 300px) {
    .results{
        width: 100%;
    }
    #buttonsNav{
        margin-left: 0%!important;
    }
  }